baseURL = "http://localhost/"
languageCode = "en-US"
title = "/r/SelfHosted Official Wiki"
theme = "hugo-theme-learn"

[params]
  themeVariant = "green"
  description = "The official wiki for the reddit /r/selfhosted community"
  titleSeparator = "| |"

[outputs]
  home = [ "HTML", "RSS", "JSON"]